In [1]:
import pandas as pd
import numpy as np
import random
import re
from datetime import datetime, timedelta
from itertools import combinations

In [2]:
def time_range(start,end):
    total_time = pd.date_range(start,end,freq='15min').tolist()
    return total_time

first_time_half = time_range('09:00','10:15')
second_time_half = time_range('10:45','12:00')

full_day_time = first_time_half + second_time_half

In [3]:
games = ['כדורגל (6 שחקנים לקבוצה)','כדורסל (6 שחקנים לקבוצה)','כדור רשת (6 שחקנים לקבוצה)','מחניים (10 שחקנים לקבוצה)']

total = 0
boys = []
girls = []

for num in range(1,4+1):
    tot = total+num
    name = "ו'" + str(tot)
    boys.append(name)

boys_matches = [' - '.join(map(str,comb)) for comb in combinations(boys,2)]
boys_matches = [match + " (בנים)" for match in boys_matches]
print(boys_matches)

for num in range(1,4+1):
    tot = total+num
    name = "ו'" + str(tot)
    girls.append(name)
        
girls_matches = [' - '.join(map(str,comb)) for comb in combinations(girls,2)]
girls_matches = [match + " (בנות)" for match in girls_matches]
print(girls_matches)

["ו'1 - ו'2 (בנים)", "ו'1 - ו'3 (בנים)", "ו'1 - ו'4 (בנים)", "ו'2 - ו'3 (בנים)", "ו'2 - ו'4 (בנים)", "ו'3 - ו'4 (בנים)"]
["ו'1 - ו'2 (בנות)", "ו'1 - ו'3 (בנות)", "ו'1 - ו'4 (בנות)", "ו'2 - ו'3 (בנות)", "ו'2 - ו'4 (בנות)", "ו'3 - ו'4 (בנות)"]

In [4]:
def mix_groups(groups):
    lst = []

    for i in range(int(len(groups)/2)):
        lst.append(groups[i])
        lst.append(groups[-(i+1)])
    return lst

boys_matches1 = mix_groups(boys_matches)
girls_matches1 = mix_groups(girls_matches)

In [5]:
def mix_groups1(groups):
    lst = []

    for i in range(int(len(groups)/2)):
        lst = [groups[0], groups[2], groups[5], groups[1], groups[4], groups[3]]
    return lst

In [6]:
df = pd.DataFrame(columns=games,index=full_day_time)
df

,כדורגל (6 שחקנים לקבוצה),כדורסל (6 שחקנים לקבוצה),כדור רשת (6 שחקנים לקבוצה),מחניים (10 שחקנים לקבוצה)
2022-04-26 09:00:00,NaN,NaN,NaN,NaN
2022-04-26 09:15:00,NaN,NaN,NaN,NaN
2022-04-26 09:30:00,NaN,NaN,NaN,NaN
2022-04-26 09:45:00,NaN,NaN,NaN,NaN
2022-04-26 10:00:00,NaN,NaN,NaN,NaN
2022-04-26 10:15:00,NaN,NaN,NaN,NaN
2022-04-26 10:45:00,NaN,NaN,NaN,NaN
2022-04-26 11:00:00,NaN,NaN,NaN,NaN
2022-04-26 11:15:00,NaN,NaN,NaN,NaN
2022-04-26 11:30:00,NaN,NaN,NaN,NaN
2022-04-26 11:45:00,NaN,NaN,NaN,NaN
2022-04-26 12:00:00,NaN,NaN,NaN,NaN

In [7]:
def entring_first_half_day_data(col,time,gender):
    if time == '10:15' and gender == 'בנים':
        iterator = df[col].reset_index().loc[df.index <= time].iterrows()
        matches = []

        for i,match in iterator:
            if i == 2 or i == 5:
                match = girls_matches1[-(i-6)]
                matches.append(match)
            else:
                match = boys_matches1[-(i-3)]
                matches.append(match)
        
        matches = mix_groups(matches)
        df[col].loc[df.index <= time] = matches[::-1]
            
    elif time == '10:15' and gender == 'בנות':
        iterator = df[col].reset_index().loc[df.index <= time].iterrows()
        matches = []

        for i,match in iterator:
            if i == 2 or i == 5:
                match = boys_matches1[-(i-6)]
                matches.append(match)
            else:
                match = girls_matches1[-(i-3)]
                matches.append(match)
                
        matches = mix_groups(matches[::-1])
        df[col].loc[df.index <= time] = mix_groups1(matches)

entring_first_half_day_data('כדורגל (6 שחקנים לקבוצה)','10:15','בנים')
entring_first_half_day_data('כדור רשת (6 שחקנים לקבוצה)','10:15','בנות')

In [8]:
df

,כדורגל (6 שחקנים לקבוצה),כדורסל (6 שחקנים לקבוצה),כדור רשת (6 שחקנים לקבוצה),מחניים (10 שחקנים לקבוצה)
2022-04-26 09:00:00,ו'1 - ו'2 (בנים),NaN,ו'3 - ו'4 (בנים),NaN
2022-04-26 09:15:00,ו'1 - ו'4 (בנות),NaN,ו'2 - ו'3 (בנות),NaN
2022-04-26 09:30:00,ו'2 - ו'3 (בנים),NaN,ו'1 - ו'4 (בנים),NaN
2022-04-26 09:45:00,ו'1 - ו'3 (בנים),NaN,ו'2 - ו'4 (בנות),NaN
2022-04-26 10:00:00,ו'3 - ו'4 (בנות),NaN,ו'1 - ו'2 (בנות),NaN
2022-04-26 10:15:00,ו'2 - ו'4 (בנים),NaN,ו'1 - ו'3 (בנות),NaN
2022-04-26 10:45:00,NaN,NaN,NaN,NaN
2022-04-26 11:00:00,NaN,NaN,NaN,NaN
2022-04-26 11:15:00,NaN,NaN,NaN,NaN
2022-04-26 11:30:00,NaN,NaN,NaN,NaN
2022-04-26 11:45:00,NaN,NaN,NaN,NaN
2022-04-26 12:00:00,NaN,NaN,NaN,NaN

In [9]:
def entring_second_half_day_data(col,time,gender):
    if time == '10:30' and gender == 'בנים':
        iterator = df[col].reset_index().loc[df.index >= time].reset_index(drop=True).iterrows()
        matches = []

        for i,match in iterator:
            if i == 2 or i == 5:
                match = girls_matches1[-(i-6)]
                matches.append(match)
            else:
                match = boys_matches1[-(i-3)]
                matches.append(match)
                
        matches = mix_groups(matches[::-1])
        df[col].loc[df.index >= time] = mix_groups1(matches)
        
    elif time == '10:30' and gender == 'בנות':
        iterator = df[col].reset_index().loc[df.index >= time].reset_index(drop=True).iterrows()
        matches = []

        for i,match in iterator:
            if i == 2 or i == 5:
                match = boys_matches1[-(i-6)]
                matches.append(match)
            else:
                match = girls_matches1[-(i-3)]
                matches.append(match)
                
        matches = mix_groups(matches)
        df[col].loc[df.index >= time] = matches[::-1]

entring_second_half_day_data('כדורסל (6 שחקנים לקבוצה)','10:30','בנים')
entring_second_half_day_data('מחניים (10 שחקנים לקבוצה)','10:30','בנות')

In [10]:
df.fillna("",inplace=True)
df.index = df.index.time

In [11]:
df

,כדורגל (6 שחקנים לקבוצה),כדורסל (6 שחקנים לקבוצה),כדור רשת (6 שחקנים לקבוצה),מחניים (10 שחקנים לקבוצה)
09:00:00,ו'1 - ו'2 (בנים),,ו'3 - ו'4 (בנים),
09:15:00,ו'1 - ו'4 (בנות),,ו'2 - ו'3 (בנות),
09:30:00,ו'2 - ו'3 (בנים),,ו'1 - ו'4 (בנים),
09:45:00,ו'1 - ו'3 (בנים),,ו'2 - ו'4 (בנות),
10:00:00,ו'3 - ו'4 (בנות),,ו'1 - ו'2 (בנות),
10:15:00,ו'2 - ו'4 (בנים),,ו'1 - ו'3 (בנות),
10:45:00,,ו'3 - ו'4 (בנות),,ו'1 - ו'2 (בנות)
11:00:00,,ו'2 - ו'3 (בנים),,ו'1 - ו'4 (בנים)
11:15:00,,ו'1 - ו'4 (בנות),,ו'2 - ו'3 (בנות)
11:30:00,,ו'2 - ו'4 (בנים),,ו'1 - ו'3 (בנות)
11:45:00,,ו'1 - ו'2 (בנים),,ו'3 - ו'4 (בנים)
12:00:00,,ו'1 - ו'3 (בנים),,ו'2 - ו'4 (בנות)

In [829]:
df.to_excel("שכבת ו' יום ספורט.xlsx")